
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^agglowskincare\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.agglowskincare\.com$
RewriteRule ^(.*)$ "https\:\/\/agglowskincare\.com\/$1" [R=301,L]

